<section data-bs-version="5.1" class="menu menu2 topbar cid-sE28OFqsYI" once="menu" id="menu2-8">

  <nav class="navbar navbar-dropdown navbar-fixed-top navbar-expand-lg">
    <div class="container-fluid">
      <div class="navbar-brand">

                <span class="navbar-caption-wrap"><a class="navbar-caption text-white display-7"
                                                     href="https://mobiri.se">CMC<br></a></span>
      </div>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-bs-toggle="collapse"
              data-target="#navbarSupportedContent" data-bs-target="#navbarSupportedContent"
              aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <div class="hamburger">
          <span></span>
          <span></span>
          <span></span>
          <span></span>
        </div>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav nav-dropdown" data-app-modern-menu="true">
          <li class="nav-item"><a class="nav-link link text-white text-primary display-4"
                                  href="#menu2-8">Accueil</a></li>
          <li class="nav-item"><a class="nav-link link text-white text-primary display-4"
                                  href="#content5-h">A Propos</a></li>
          <li class="nav-item"><a class="nav-link link text-white text-primary display-4"
                                  href="#features4-i">Services</a></li>
          <li class="nav-item"><a class="nav-link link text-white text-primary display-4"
                                  href="#content13-k">FAQ</a></li>
          <li class="nav-item"><a class="nav-link link text-white text-primary display-4"
                                  href="#form5-l">Contact</a>
          </li>
          <li class="nav-item"><a class="nav-link link text-white display-4"
                                  routerLink="/login">Connexion</a></li>
        </ul>

        <div class="navbar-buttons mbr-section-btn"><a class="btn btn-warning display-4"
                                                       routerLink="/demande">Initialiser mon dossier</a></div>
      </div>
    </div>
  </nav>
</section>

<!--<section data-bs-version="5.1" class="form1 cid-sHiamjx0tE mbr-fullscreen mbr-parallax-background" id="form1-o">
  <div class="mbr-overlay" style="opacity: 0; background-color: rgb(230, 198, 59);"></div>
  <div class="align-center container" style="opacity: 0.6; background-color: rgb(22, 22, 22);">
    <div class="row justify-content-center">
      <div class="col-lg-8 mx-auto mbr-form" data-form-type="formoid">
        <form [formGroup]="suivieForm" class="mbr-form form-with-styler"
              data-form-title="Form Name"><input type="hidden" name="email" data-form-email="true"
                                                 value="xPXWSOso8hYt+ddx5Mkbz+adVmet4v6IIUKME/0iHtYPx6E9k81jsuitKuVZpP1L/yalKWIhfPhgcgrBEqqviZFz0FJD4mJtn/qJS/CxwSgYjIl9cIsqOI265U+F51y3">
          <div class="dragArea row">
            <div class="col-6">
              <h1 class="mbr-section-title mb-4 display-1">
                <br>
                <br>
                <br>
                <br>
                <h1><strong>Bienvenu</strong></h1>
                <p><strong>Plateforme de Demande d'Initialisation D'Importation</strong></p>
                <div class=" mbr-section-btn"><a class="btn btn-warning display-4"
                                                               routerLink="/demande">Soumettre une Demande</a></div>
              </h1>
            </div>
            <div class="col-6">
              <p class="mbr-section-title mb-4 display-6">Suivre ma demande</p>
              <div class="col-md col-12 form-group mb-3" data-for="name">
                <input type="text" name="name" placeholder="Numero de la DII" formControlName="numero"
                       class="form-control">
              </div>
              <div class="col-md col-12 form-group mb-3" data-for="email">
                <input type="email" name="email" placeholder="Email" formControlName="email"
                       class="form-control">
              </div>
              <div class="mbr-section-btn col-12 col-md-auto">
                <button type="submit"
                        class="btn btn-warning-outline display-4" [disabled]="!suivieForm.valid" (click)="goToSuivi()">
                  Faire le suivi de ma DII
                </button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>-->
<section data-bs-version="5.1" class="form1 cid-sHiamjx0tE mbr-fullscreen mbr-parallax-background" id="form1-o">
  <div class="mbr-overlay" style="opacity: 0.2; background-color: rgb(34, 153, 170);"></div>
  <div class="align-center container">
    <div class="row justify-content-center">
      <div class="col-lg-8 mx-auto mbr-form" data-form-type="formoid">
        <form [formGroup]="suivieForm" class="mbr-form form-with-styler" data-form-title="Form Name">
          <input type="hidden" name="email" data-form-email="true"
                 value="zzn7U9oFavZY6A+kr+nlYL1nxMoaynREqugN56Sl4lWp0gWohKL2yinuEduUymjhdgHeMqK4Z1Xx72LP0llhnD68sLSoQ287wrass2hcgBHbhcustQm1hiRUTZ/y7sWm">
          <div class="row">
            <div hidden="hidden" data-form-alert="" class="alert alert-success col-12">Thanks for filling
              out the form!
            </div>
            <div hidden="hidden" data-form-alert-danger="" class="alert alert-danger col-12">Oops...! some
              problem!
            </div>
          </div>
          <div class="dragArea row">
            <div class="col-12">
              <h1 class="mbr-section-title mb-4 display-2"
                  style="font-size: 3rem; line-height: 1.1; font-family: 'Jost', sans-serif;">
                <strong style="font-weight: bold;">Plateforme de Vérification des cmc</strong></h1>
            </div>
            <div class="col-12">
              <p class="mbr-text mbr-fonts-style mb-5 display-5" style="color: white; font-size: 2rem;">Suivre ma
                demande</p>
            </div>
            <div class="col-md col-12 form-group mb-3" data-for="name">
              <input type="text" name="name" placeholder="Numero de chassis" style="border-radius: 35px "
                     data-form-field="Name" class="form-control" id="name-form1-o" formControlName="numero">
            </div>
            <div class="col-md col-12 form-group mb-3" data-for="email">
              <input type="email" name="email" placeholder="Numéro de dossier" style="border-radius: 35px; " data-form-field="Email"
                     class="form-control" id="email-form1-o" formControlName="email">
            </div>
            <div class="mbr-section-btn col-12 col-md-auto">
              <button type="submit" style="border-radius: 35px " class="btn btn-warning-outline display-4" [disabled]="!suivieForm.valid" (click)="goToSuivi()">Suivre mon
                Cmc
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>

<section data-bs-version="5.1" class="content5 cid-sHhWAHalWh" id="content5-h">

  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-12 col-lg-10">

        <h4 class="mbr-section-subtitle mbr-fonts-style mb-4 display-2"><strong>
          A Propos</strong></h4>
        <p class="mbr-text mbr-fonts-style display-7" style="text-align: justify;">
          La déclaration préalable d’importation encore appelée DPI est un formulaire délivré par le bureau des douanes
          et sert au dédouanement de marchandises. Elle est exigée pour toute marchandise exonérée ou pas dont la valeur
          FOB (Free on board) est supérieure ou égale à un million de Francs CFA.<br>
          Ce formulaire de déclaration préalable d’importation en douane est ouvert par l’importateur pour confirmer son
          intention d’importer des marchandises, quand elles dépassent une valeur d’un million de Francs CFA. IL est
          soumis au COTECNA (Conseil Technique Appliqué) avec la documentation complémentaire à l’ordre d’inspection.
          C’est un document obligatoire sauf pour les marchandises qui en sont exemptées et qui font l’objet d’une liste
          exhaustive.</p>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="counter-container col-md-12 col-lg-10">
        <div class="mbr-text mbr-fonts-style display-7">
          <ul>
            <li><strong>Soumettre une demande </strong></li>
            <li><strong>Suivre d'une demande </strong></li>
            <li><strong>Payer le montant</strong></li>
            <li><strong>Délivrance de l'autorisation </strong></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>

<section data-bs-version="5.1" class="features4 cid-sHhWMBwSJI" id="features4-i">
  <div class="container">
    <div class="mbr-section-head">
      <h1 class="mbr-section-title mbr-fonts-style align-center mb-0 display-2">
        <strong>Services</strong>
      </h1>
    </div>
    <div class="row mt-4">
      <div class="item features-image сol-12 col-md-6 col-lg-6 active">
        <div class="item-wrapper">
          <div class="item-img">
            <img src="assets/images/container-operation-in-port-series-816x544.jpg" alt="" title=""
                 data-slide-to="0" data-bs-slide-to="0">
          </div>
          <div class="item-content">
            <h5 class="item-title mbr-fonts-style display-5"><strong>Soumission d'une déclaration d'initialisation
              d'importation</strong></h5>

            <p class="mbr-text mbr-fonts-style mt-3 display-7" style="text-align: justify;">la soumission d'une DII
              consiste tout simplement au remplissage du formulaire simplifié de la Douane, au paiement des frais de
              soumission et enfin au l'envoi définitif de ce formulaire au niveau d'Orbus.</p>
          </div>
          <div class="mbr-section-btn item-footer mt-2"><a href="" class="btn item-btn btn-black display-7"
                                                           target="_blank" style="background-color: #ffb740 !important;
    border-color: #FFB740 !important;">En savoir plus &gt;</a></div>
        </div>
      </div>
      <div class="item features-image сol-12 col-md-6 col-lg-6">
        <div class="item-wrapper">
          <div class="item-img">
            <img src="assets/images/forklift-truck-is-lifting-pallet-with-cardboard-boxes-816x544.jpg"
                 alt="" title="" data-slide-to="1" data-bs-slide-to="1">
          </div>
          <div class="item-content">
            <h5 class="item-title mbr-fonts-style display-5"><strong>Suivi de déclaration d'initialisation
              d'importation</strong></h5>

            <p class="mbr-text mbr-fonts-style mt-3 display-7" style="text-align: justify;">le suivi d'une DII se fait
              par notification mail suite à la soumission et à la délivrance du document demandé. Le suivi peut être
              aussi effectué en renseignant le numéro de la DII ainsi que l'email de l'importateur.<br></p>
          </div>
          <div class="mbr-section-btn item-footer mt-2"><a href="" class="btn item-btn btn-black display-7"
                                                           target="_blank" style="background-color: #ffb740 !important;
    border-color: #FFB740 !important;">En savoir plus &gt;</a></div>
        </div>
      </div>
    </div>
  </div>
</section>

<section data-bs-version="5.1" class="info3 cid-sHhWQWrrxu mbr-parallax-background" id="info3-j">
  <div class="mbr-overlay" style="opacity: 0.6; background-color: rgb(68, 121, 217);">
  </div>

  <div class="container">
    <div class="row justify-content-center">
      <div class="card col-12 col-lg-10">
        <div class="card-wrapper">
          <div class="card-box align-center">
            <h4 class="card-title mbr-fonts-style align-center mb-4 display-2">
              <strong>Besoin de soumettre une demande rapide?</strong>
            </h4>
            <p class="mbr-text mbr-fonts-style mb-4 display-7"></p>
            <div class="mbr-section-btn mt-3"><a class="btn btn-success display-4"
                                                 routerLink="/demande">Soumettre une DII</a></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section data-bs-version="5.1" class="content13 cid-sHhWXkEd1L" id="content13-k">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-12 col-lg-10">
        <h3 class="mbr-section-title mbr-fonts-style mb-4 display-5">
          <strong>FAQ</strong>
        </h3>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-md-12 col-lg-10">
        <div class="row justify-content-center">
          <div class="col-12 col-lg-6">
            <ul class="list mbr-fonts-style display-7">
              <li style="text-align: justify;"><strong>Quels sont les documents à fournir pour une DII ?</strong><br>En
                plus du formulaire bien rempli, vous devez, obligatoirement, joindre la facture commerciale. Vous avez
                aussi la possibilité d'en joindre d'autres documents utiles.
              </li>
              <li style="text-align: justify;"><strong>Comment faire le suivi d'une DII ?</strong><br>Lorsque vous
                envoyez votre demande, vous serez alerté par mail pour la suite (la délivrance du document). Vous avez
                aussi la possibilité de renseigner le petit fomulaire en donnant votre numéro de dossier et votre
                adresse email pour voir le statut de votre dossier et éventuellement prévisualiser le document de
                sortie.
              </li>
            </ul>
          </div>
          <div class="col-12 col-lg-6">
            <ul class="list mbr-fonts-style display-7">
              <li style="text-align: justify;"><strong>Quels sont les frais à payer ?</strong><br>Afin de traiter votre
                demande et vous délivrer le document, vous serez invité à payer en ligne des frais qui s'élèvent à
                25000F CFA.
              </li>
              <li style="text-align: justify;"><strong>Quel est le délai de délivrance du document ?</strong><br>Le
                traitement de votre demande et la délivrance du document de sortie sont automatique. Aucun délai
                n'estmarqué. Si vous soumettez, on vous délivre le document sur le champ.
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section data-bs-version="5.1" class="form5 cid-sHhX91DrFA" id="form5-l">
  <div class="container">
    <div class="mbr-section-head">
      <h3 class="mbr-section-title mbr-fonts-style align-center mb-0 display-2">
        <strong>Contact</strong>
      </h3>

    </div>
    <div class="row justify-content-center mt-4">
      <div class="col-lg-8 mx-auto mbr-form" data-form-type="formoid">
        <form action="https://mobirise.eu/" method="POST" class="mbr-form form-with-styler"
              data-form-title="Form Name"><input type="hidden" name="email" data-form-email="true"
                                                 value="RTK4imPrepufULcvPOeczysdfZtiNICnTaclo9Tnmtj3Tbsenn8Obt6nuJYFcAuZ8QGWEtVnZ/3sNYkJawbTuuexbX+gWRjaJVrq+lN8aungjm1ZAyqU9ikdn0mQkDRm">
          <div class="row">
            <div hidden="hidden" data-form-alert="" class="alert alert-success col-12">Merci d'avoir
              rempli le formulaire!
            </div>
            <div hidden="hidden" data-form-alert-danger="" class="alert alert-danger col-12">Oops...!
              some
              problem!
            </div>
          </div>
          <div class="dragArea row">
            <div class="col-md col-sm-12 form-group mb-3" data-for="name">
              <input type="text" name="name" placeholder="Nom" data-form-field="name"
                     class="form-control" value="" id="name-form5-l " style="border-radius: 35px ">
            </div>
            <div class="col-md col-sm-12 form-group mb-3" data-for="email">
              <input type="email" name="email" placeholder="E-mail" data-form-field="email"
                     class="form-control" value="" id="email-form5-l" style="border-radius: 35px ">
            </div>

            <div class="col-12 form-group mb-3" data-for="textarea">
                            <textarea name="textarea" placeholder="Message" data-form-field="textarea"
                                      class="form-control" id="textarea-form5-l"
                                      style="border-radius: 35px "></textarea>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 align-center mbr-section-btn">
              <button
                type="submit" class="btn btn-success display-4" style="border-radius: 35px ">Envoyer
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>

<!--
<section data-bs-version="5.1" class="footer7 cid-sE29sZYikA" once="footers" id="footer7-e">
  <div class="container">
    <div class="media-container-row align-center mbr-white">
      <div class="col-12">
        <p class="mbr-text mb-0 mbr-fonts-style display-7">
          © Copyright 2021 Gainde2000 - All Rights Reserved
        </p>
      </div>
    </div>
  </div>
</section>
-->

<!-- <div id="scrollToTop" class="scrollToTop mbr-arrow-up"><a href="#menu2-8" style="text-align: center;"><i
  class="mbr-arrow-up-icon mbr-arrow-up-icon-cm cm-icon cm-icon-smallarrow-up"></i></a></div> -->
